{% extends 'base.html' %}
{% load static %}
{% block side %}
 <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h1 style="margin-top:70px;">Shagun Agrawal Blog Website</h1>
              <h2>Blog Website To Add Daily New Blog </h2>
                <h4><u>Here are some guidance to add blog</u> </h4>
              <p>In this blog website if you wona add any blog then you have to make an account first then login your acccount and go to dashboard and write the title of the blog and also write the title name of the blog and then submit.
              </br>You can see your blog on the home page and if you wona delete or update the blog then you have to login again with the same id and then you can do it.</p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                
                
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static "images/shagun.jpg" %}" class="img-fluid" alt="" style="width:300px; height:450px; border-radius:50px;">
          </div>

        </div>
           <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h4></h4>
            
             
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <!-- <span>Read More</span> -->
                  <!-- <i class="bi bi-arrow-right"></i> -->
                </a>
              </div>
            </div>
          </div>

        </div>
        
      </div>
      


    </section><!-- End About Section -->
  </main>

{% endblock side %}
